* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #f3f0f0;
}
.main-container {
  /*pixel size 10px*/
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 80rem;
}
p {
  /*make sure that there is no units*/
  line-height: 1.25;
  margin: 1rem 0;
  font-size: 1.4rem;
}
*h1,
h2,
h3,
h4 {
  margin: 2rem 0;
}
header nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
  }
}
header nav a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.75rem;
  border: 1px solid #006400;
  border-radius: 30%;
  color: #F5FFFA;
  background-color: #006400;
}
@media (max-width: 500px) {
  header nav a {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
  }
}
header .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .title p {
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  header .title p {
    font-size: 1.7rem;
  }
}
header .title h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: Arvo;
}
@media (max-width: 500px) {
  header .title h1 {
    font-size: 2.5rem;
  }
}
.top-content {
  display: flex;
  border-top: 0.25rem solid #006400;
  justify-content: baseline;
}
@media (max-width: 500px) {
  .top-content {
    flex-direction: column;
  }
}
.top-content section {
  margin: 1rem 1rem 1rem 0;
}
.top-content section img {
  border: 5px solid #B7B7B7;
  max-width: 100%;
}
.bottom-content {
  border-top: 0.25rem solid #006400;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .bottom-content {
    flex-direction: column;
  }
}
.bottom-content .bottom-box {
  font-size: 1.8rem;
  margin: 0.5rem;
  border: 1px solid #F7F7F7;
  background-color: #F7F7F7;
  width: 47%;
}
@media (max-width: 500px) {
  .bottom-content .bottom-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bottom-content .bottom-box img {
  width: 20%;
}
.about-container {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}
.about-container .team-content {
  display: flex;
  justify-content: space-around;
}
